.services {
    background: white;
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .services:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px rgba(10, 112, 6, 0.2);
  }
  
  .services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .service-card {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  h3 {
    color: linear-gradient(to left, #0915b1, #448504);
  }
  
  p {
    color: #666;
  }
  h2 {
    color: green;
  }
  